@import "../../../assets/stylus/_settings.styl";

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center ;
  background-image: url('/images/loginPage.svg');
  background-repeat: no-repeat;
  background-size: cover;

  .loginBox{
    width 500px;
    background: #fff;
    padding: 41px;
    border: #87888a solid 1.5px;
    border-radius: 12px;
    -webkit-box-shadow: inset 0px 0px 46px 0px rgba(9,12,15,1);
    -moz-box-shadow: inset 0px 0px 46px 0px rgba(9,12,15,1);
    box-shadow: inset 0px 0px 46px 0px rgba(9,12,15,1);
  }
}


