<div class="content auth-wrapper">
	<div class="content-inner authBox">

		<Vform
				:form="form_user"
		>
		</Vform>
		<h2 v-if="forms_car.length > 0">
			Register driver car
		</h2>
		<template v-if="forms_car.length > 0" v-for="(form_car, index) in forms_car">
		<i  class="el-icon-error" @click="deleteFormCar(index)">
		</i>
		<br>
		<br>
		<Vform
				:form="form_car"
		>
		</Vform>
		</template>
	
		<el-button  
			type="primary"
			:loading="loading"
			 @click="register">
		Register
		</el-button>	
		<br>
		<br>
		<div v-if="forms_car.length == 0">
			<el-button type="info" @click="addDriverRows">I also want be a driver </el-button>
		</div>
	</div>
</div>